.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/test/resources/game.02.log
/src/test/resources/game.01.log
output
/.idea/.copilot-plugin
/.idea/copyright/profiles_settings.xml
/.idea/copyright/GPLv3.xml
/.idea/checkstyleidea-libs/readme.txt
/logs/sckillmonitor.log
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
logs
/kill-events.json
/kill-events*.json
